<div class="container">
  <div class="row">
    <h1 class="display-2"> COVID - 19 Live Tracker</h1>
  </div>
  <br>
  <div class="row">
    <label>Country : </label>&nbsp;
    <select (change)="getCountry($event.target.value)">
      <option *ngFor="let Country of countries" value={{Country.Slug}}> 
        {{Country.Country}}
      </option>
    </select>
  </div>
  <br>
  <br>
  <div class="row">
    <button type="button" class="btn btn-outline-secondary" (click)="getCoronaData()">Get COVID-19 Data</button>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          Total Confirmed Cases : {{confirmed}}
        </div>
      </div>
    </div>
    
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          Total Recovered Cases : {{recovered}}
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          Total Deaths Cases :  {{deaths}}
        </div>
      </div>
    </div>
  </div>
</div>